 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rosario:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;

}








































































































































































































* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;

}


.grilleResto{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: blue;
    gap: 10px;
    padding: 20px;
}

.fondGridResto{
    padding: 15px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.photoRestoGrille{
    width: 100%;
    height: 250px;
    background-size: cover;
}

.nomRestoGrille{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



/*-- Barre de filtre Audrey version 2--*/
/* base de la navigation*/
nav .filtre-audrey{ 
    background-color:white;
    color: white;
    padding: 1em;
}
/* base la liste*/
nav > ul {
    padding: 10px;
    margin: 10px 20px 0 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}  
/* button*/
.push:first-child{
    all:unset;
    padding-left:0.7em ;
    padding-right: 0.7em;
    padding-top: 0.6em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* les elements filtres*/
nav > ul >li {
    font-family: 'Rosario', sans-serif;
    font-size: 0.938em;
    color: black;
    background-color: whitesmoke;
    border:solid 2px;
    border-radius: 0px 50px 50px 0px;

}
/* les elements filtres au survol*/
nav > ul >li:hover{
    background-color: black;
    border-radius:0px 50px 50px 0px;
    color: whitesmoke;
}
/* les elements liens au survol*/
nav>ul>li> a:hover{
color: whitesmoke;
    background-color: black;  
}
/* les elements liens*/
nav>ul>li>a {
    padding: 5px;
    text-decoration: none;
    color:black;
    font-family: 'Rosario', sans-serif;
}
/*-- fin de la Barre de filtre Audrey version 2--*/











































































































































































































.grilleResto{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: blue;
    gap: 10px;
    padding: 20px;
}

.fondGridResto{
    padding: 15px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.photoRestoGrille{
    width: 100%;
    height: 250px;
    background-size: cover;
}

.nomRestoGrille{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}







