@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rosario:wght@300&display=swap');



:root{
    --titlefont: 'Noto Serif', serif;
    --textfont : 'Rosario', sans-serif;
    --border : 3px solid #000000;
}

body{
    font-family: 'Rosario', sans-serif;

    background-color: #EDF0EB;


}

/* ---------------------------------------------------------------- */
/* haut de page  */
.nomresto {
    display:flex;
    justify-content: center;
    font-family:var(--titlefont)
}

.ligne{
    border-bottom: 3px solid black;
    width: 50%;
    border-left: 2px solid black;
    /* padding-left: 15%; */
    margin-left: 25%;
    

}
/* ------------------------------------------------------------ */
/* la liste des  différents filtres */

ul{
    display: flex;

    justify-content: center;
}

ul >li{
    list-style: none;
    display:inline-flex;
    
    text-align: center;
    align-items:  center;
    
    
}


/* -------------------------------------------------------------- */
/* Partie réglage photo*/
.photoresto{
    /* width: 10vh;
    height: 10vh; */
    display: flex;
    justify-content: center;
    
    align-items: center;
    gap:15px;
    
}
.photoassietteaxel3{
    width: 180px;
    height: 180px;
    border:var(--border);
    border-radius: 0px 0px 0px 200px;
}

.photoassietteaxel2{
    width: 180px;
    height: 180px;
    border:var(--border);
    border-radius: 100px 0px;


}
.photoassietteaxel1{
    width: 180px;
    height: 180px;
    border: var(--border);
    border-radius: 0px 0px 200px 0px;


}

/* ----------------------------------------- */
/* bouton pour faire apparaitre les traductions */
#toggle-button{
    display: flex;
    text-align: center;
    background-color: #000000;
    color: #EDF0EB;
    border-radius: 50px;
    position: relative;
    top: 50%;
    left: 47.5%;  


    
}
#hidden-info{
    display: none;
}
p {
    text-align: center;

}


/* -------------------------------------- */
/* Bas de page */
.photocode{
    width: 400px;
    height: 250px;
}

.basdepage{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 2em;
    gap: 2em;
    
    

}

@media screen and (max-width: 768px){
    .photoassietteaxel3,
    .photoassietteaxel2,
    .photoassietteaxel1 {
      width: 120px;
      height: 120px;
      align-items: center;
      
    }

    .photoresto{
        position: relative;
        left:2.5%
        



        
      
    }
 
    ul{
        display: flex;
    
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    ul >li{
        list-style: none;
        display:inline-flex;
        text-align: center;
         
        
    }
 
  
    .ligne {
        align-items: center;
        
        
        /* width: 100%;
        display:flex;
        justify-content: center; */

    }

    .nomresto {
        display:flex;
        justify-content: center;
        
        font-family:var(--titlefont)
    }
    .photocode{
        width: 400px;
        height: 250px;
    }
    
    .basdepage{
        position: relative;
        right: 2.2rem;
        display: flex;
        flex-direction: column;
        
        
    }
    .trajetresto{
        
        width: 400px;
        height:250px;
    }
    p{
        text-align: center;
    
    }
    #toggle-button{
        display: flex;
        align-items: center;
        position: relative;
        left: 40%;
        
    }




}   
