@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rosario:wght@300&display=swap');

:root {
    --titlefont: 'Noto Serif', serif;
    --textfont: 'Rosario', sans-serif;
    --border: 3px solid #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



body {
    background-color: #EDF0EB;
    ;
}

/* BAR NAV JO */

.Barre_nav {
    text-decoration-color: #000000;
    height: 80vh;
}


.Logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.Logo>img {
    height: 150px;
    width : 150px
}


.slogan {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

/*effet flip */

.full_slogan{
    margin-top: 30px;
    font-family: var(--titlefont);
    display: flex;
    font-size: 30px;
    
}

.flip{
    height: 40px;
    font-size: 30px;
    overflow: hidden;
}
.start{
    margin-right: 5px;
}

.element{
    margin-bottom:20px;
    color:black;
    padding:4px;
    
}



.flip div:first-child {
    animation: show 10s linear infinite;
  }

@keyframes show {
    0% {margin-top:-280px;}
    7% {margin-top:-212px;}
    29% {margin-top:-212px;}
    34% {margin-top:-140px;}
    58% {margin-top:-140px;}
    63% {margin-top:-72px;}
    88% {margin-top:-72px;}
    94% {margin-top:-4px;}
    99.99% {margin-top:-4px;} 
    100% {margin-top:-280px;} 
  }



/* FIN BAR NAV JO */



/* GRID ERIC */


.grilleResto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: max-content;
    background-color: rgba(237, 240, 235, 1);
    gap: 30px;
    padding: 50px;
    margin-top: 20px;
}

.fondGridResto {
    padding: 10px;
}

.fondGridResto {
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 10px rgba(85, 84, 84, 0.315);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.fondGridResto a {
    width: 100%;
    height: 30vh;
}

.photoRestoGrille {
    height: 30vh;
    background-size: cover;
}

.nomRestoGrille {
    margin-top: 5px;
}

.nomRestoGrille {
    font-family: var(--titlefont);
    font-size: 20px;
}

.descriptionRestoGrille {
    margin-top: 5px;
    width: 100%;
    font-family: var(--textfont);
    font-size: 13px;


}

.sectionInfoGrille {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-size: 10px;
    font-family: var(--titlefont);
}

.prixRestoGrille {
    margin-right: 5px;
}




/* FIN GRID ERIC */



/*-- Barre de filtre Audrey version 3--*/
/* base de la navigation*/
/* .filtre-audrey{ 
    background-color:white;
    color: white;
    padding: 1em;
} */
/* base la liste*/
nav>ul {
    padding: 10px;
    margin: 10px 20px 0 20px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

/* button*/
/* .push:first-child{
    all:unset;
    padding-left:0.7em ;
    padding-right: 0.7em;
    padding-top: 0.6em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
/* les elements filtres*/
nav>ul>li {
    text-align: center;
    justify-content: center;
    width: 100px;
    font-family: var(--textfont);
    font-size: 0.938em;
    color: black;
    background-color: whitesmoke;
    border: solid 1px;
    border-radius: 0px 50px 50px 0px;

}

/* les elements filtres au survol*/
nav>ul>li:hover {
    background-color: black;
    border-radius: 0px 50px 50px 0px;
    color: whitesmoke;

}

/* les elements liens au survol*/
nav>ul>li>a:hover {
    color: whitesmoke;
}

/* les elements liens*/
nav>ul>li>a {
    /* padding: 5px;  */
     width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-family: var(--textfont);
    /* border : 2px solid red;  */
    position: relative;
    /* top : 10%; */
}
@media screen and (max-width: 768px) {

    /* .filtre-audrey>ul{ 
        flex-wrap: wrap; 
        gap: 3%;
    } */
    .carousel {
        display: flex;
        list-style: none;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .carousel li {
        flex: 0 0 auto;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel li:last-of-type {
        margin-right: 0;
    }

}


/* ----------Lunch BOX Section------------------ */
.lunchBox {
    background-color: #f6e299;
}

.lunchBox h3 {
    margin: 0;
    font-size: 30px;
    font-style: normal;
    justify-content: flex-start;
    font-family: var(--titlefont);
    padding: 30px 0 0 30px;


}

.lunchBoxDescription {
    font-size: 13px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 100px 200px;
    height: 80%;

}

.box{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.481);
  border: 1px solid rgba(0, 0, 0, 0.5);


}

.imageLunch {
    height: 300px;
    background-size: contain;


}

.lunchBoxDescription {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: var(--textfont);
    font-size: 13px;
}

.imageLunch.Box1 {
    background-image: url("Photos/lunchbox1.png");
}

.imageLunch.Box2 {
    background-image: url("Photos/lunckbox2.png");
}

.imageLunch.Box3 {
    background-image: url("Photos/lunchbos3.png"); 
}

.recette {
    text-decoration: none;
    color: #080808;
    padding: 3px;
    font-family: var(--textfont);
    display: flex;
    align-items: baseline;
}
.recette.Marg{
    margin-top: 15px;
}


.recette:hover {
    text-decoration: underline;
    color: rgba(55, 117, 166, 1);


}
@media screen and (max-width: 768px){
    .container {
        padding: 2rem;
        background-color: #f6e299;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 13px 12px 10px rgba(85, 84, 84, 0.315);
        /* border: 1px solid rgba(0, 0, 0, 0.5); */
    }

}



/*------------footer-----------------*/



.footer {
    background-color: #edf0eb;
    color: #080808;
    padding: 20px;
}


footer h3 {
    margin-bottom: 15px;
    font-family: var(--titlefont);
}

.footer form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.footer form input[type="email"] {
    border: none;
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;

}

.footer form input[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.footer form input[type="submit"]:hover {
    background-color: rgba(55, 117, 166, 1);
    color: #FFD447;

}

.logoFace {
    width: 30px;
}


.logoTwit {
    width: 30px;
}


.logoInsta {
    width: 30px;
}

.social-media {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 10%
}

footer p {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.684);
}